<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-12 header">
      <ul class=" mr-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:'full'}">
          <a class="nav-link " routerLink="">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " routerLink="about">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="products">Products</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " routerLink="contact">Contact</a>
        </li>
      </ul>

    </div>
  </div>

</div>

